.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Lemon, sans-serif;
  font-size: 25px;
  line-height: 35px;
  font-weight: 700;
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.background-video {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Comfortaa, sans-serif;
}

.video-cover {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  display: none;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.59);
}

.welcome {
  position: absolute;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.welcome-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block {
  font-family: Lemon, sans-serif;
  color: #333;
  font-size: 8vw;
  line-height: 15vw;
  font-weight: 400;
  text-align: center;
}

.paragraph {
  margin-top: 10px;
  font-family: Comfortaa, sans-serif;
  color: #333;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.image {
  width: 100px;
  height: 100px;
}

.navbar {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: transparent;
}

.brand {
  width: 200px;
}

.nav-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #000;
  font-size: 16px;
  font-weight: 700;
}

.social-media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-2 {
  width: 25px;
  height: 25px;
}

.instagram {
  margin-right: 10px;
  margin-left: 10px;
}

.product-grid {
  margin-bottom: -87px;
  grid-column-gap: 99px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.product-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: hsla(0, 0%, 100%, 0.8);
  color: #333;
  text-align: center;
}

.tabs-content {
  width: 300px;
  height: 300px;
}

.tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ccc;
}

.heading {
  font-size: 18px;
  line-height: 28px;
}

.button {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #0d8b24;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
}

.image-3 {
  width: 50px;
  height: 50px;
}

.tab-link-tab-1 {
  height: 25%;
  padding-right: 9px;
  padding-left: 9px;
}

.tab-link-tab-2 {
  height: 25%;
  padding-right: 9px;
  padding-left: 9px;
}

.text-span {
  text-decoration: line-through;
}

.text-block-2 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
}

.tab-link-tab-3 {
  height: 25%;
  padding-right: 9px;
  padding-left: 9px;
}

.tab-link-tab-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 25%;
  padding-right: 9px;
  padding-left: 9px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tab-link-tab-4.w--current {
  height: 25%;
}

.text-block-3 {
  font-size: 10px;
  line-height: 14px;
  text-align: center;
}

.text-span-2 {
  font-size: 30px;
}

.list {
  margin-top: 10px;
  text-align: left;
}

.text-block-4 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .brand {
    width: 175px;
  }

  .nav-holder {
    font-size: 14px;
  }

  .image-2 {
    width: 22px;
  }
}

